body {
	background-image: url(.././images/backgroundpicture.png);
	background-repeat: no-repeat;
}

.headerIndex {
	background-color: #6098F9;
	font-style: italic;
  	border-width:1px;
  	border-style:solid;
  	border-color:#000000;
  	text-align: center;
  	opacity: 0.5;
}

.ImImageContainer {
	margin-top: 5%;
}

.ImImageContainer img{
	margin:0 auto;
	display: block;	
	width:15%;
	z-index: 1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0px;
}

.descriptionContainer {
	margin-top: 2%;
}

.descriptionContainer p{
	margin:0 auto;			/*0 auto generara margin*/
	text-align: center;
	width:40%;
	z-index: 1;
	color: white;
	font-style: oblique;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
	margin-left: 17.5%;
	display: inline-block;
}

li a {
    display: block;			/*block respeta margin o paddings, heigth o width, inline no*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #000000;
}