/*begin reset styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset styles*/

/*Begin index*/
body {
	background-image: url(.././images/backgroundpicture.png);
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 10px;
}

.headerIndex {
	margin-top: 5%;
	background-color: #00BDFF;
	font-style: italic;
  	border-width:1px;
  	border-style:solid;
  	border-color:#000000;
  	text-align: center;
  	opacity: 0.5;
}

.ImImageContainer {
	margin-top: 5%;
}

.ImImageContainer img{
	margin:0 auto;
	display: block;	
	width:15%;
	z-index: 1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0px;
}

.descriptionContainer {
	margin-top: 2%;
}

.descriptionContainer p{
	margin:0 auto;			/*0 auto generara margin*/
	text-align: center;
	width:40%;
	z-index: 1;
	color: #FFFFFF;
	font-style: oblique;
}

/*end index*/

/*begin fixed menu*/
nav {
	position: fixed;
	width: 98%;
	z-index: 1;
	top: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00bcd4;
}

li {
	margin-left: 17.5%;
	display: inline-block;
}

li a {
    display: block;			/*block respeta margin o paddings, heigth o width, inline no*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #00BDFF;
}
/*end fixed menu*/

/*begin experience*/
.jobDesc {
	display: block;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5%;
	height: 50%;
	width: 100%;
	background-color: #00BDFF;
	opacity: 0.5;
}

.jobDesc h2, p {
	margin:0 auto;			/*0 auto generara margin*/
	text-align: center;
	width: 80%;
	z-index: 1;
	color: #000000;
	font-style: oblique;
}
/*end experience*/

/*begin skills*/
#divContainer {
	margin-top: 5%;
	margin-left: 10%;
	width: 80%;
	height: 80%;
	background-color: #3f51b3;
	border-width: 2px;
	border: solid;
	border-color: white;
	opacity: 0.9;
}

#divgraph {
	width: 10%;
	height: 10%;
	background-color: #45B8FF;
	margin-top: 1%;
	margin-left: 0%;
	margin-right: 30%;
	margin-bottom: 1%;
	border-style: solid;
	border-width: 2px;
	transition: all 1s ease;
}

#divgraph:hover { /* no es necesario con el window load*/
	width: 35%;
	transition: all 2s ease;
}
/*end skills*/

/*begin responsive styles*/

@media (max-width: 376px) {

	/*begin index responsive*/
	body {
		background-image: url();
		background-color: #7dcc93;
		margin-left: 10px;
		margin-right: 10px;
	}

	.headerIndex {
		margin-top: 50%;
		color: #FF5733;
		background-color: #7dcc93;
		font-style: italic;
	  	border-width: 0px;
	  	border-style: solid;
	  	text-align: center;
	  	opacity: 0.5;
	}

	.ImImageContainer {
		margin-top: 4%;
	}

	.ImImageContainer img{
		margin:0 auto;
		display: block;	
		width:35%;
		z-index: 1;
		border-radius: 50px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border: 0px;
	}

	.descriptionContainer {
		margin-top: 2%;
	}

	.descriptionContainer p{
		font-size: 17px;
		margin:0 auto;			/*0 auto generara margin*/
		text-align: center;
		width:80%;
		z-index: 1;
		color: #FFFFFF;
		font-style: oblique;
	}

	/*end index responsive*/

	/*begin fixed menu responsive*/
	nav {
		position: fixed;
		width: 92%;
		z-index: 1;
		top: 0px;
	}
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #00bcd4;
	}

	li {
		margin: 0 auto;
		display: block;			/*block respeta margin o paddings, heigth o width, inline no*/
	}

	li a {
		font-size: 30px;
		font-style: italic;
	    color: white;
	    text-align: center;
	    padding: 5px 0px;
	    text-decoration: none;
	}

	li a:hover {
	    background-color: #00BDFF;
	    color: white;
	}
	/*end fixed menu responsive*/

	/*begin experience*/
	.jobDesc {
		display: block;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0px;
		height: 50%;
		width: 100%;
		opacity: 1;
	}

	#mimoni {
		background-color: #31355b;
	}

	#global {
		background-color: #f76160;
	}

	#ctin {
		background-color: #00BDA3;
	}

	.jobDesc h2, p {
		margin:0 auto;			/*0 auto generara margin*/
		text-align: center;
		width: 80%;
		z-index: 1;
		color: #FFFFFF;
		font-style: oblique;
		padding-bottom: 5%;
	}
	/*end experience*/
	/*begin skills*/
	#divContainer {
		margin-top: 5%;
		margin-left: 10%;
		width: 80%;
		height: 80%;
		background-color: #3f51b3;
		border-width: 2px;
		border: solid;
		border-color: white;
		opacity: 0.9;
	}

	#divgraph {
		width: 35%;
		height: 10%;
		background-color: #45B8FF;
		margin-top: 1%;
		margin-left: 0%;
		margin-right: 30%;
		margin-bottom: 1%;
		border-style: solid;
		border-width: 2px;
		transition: all 1s ease;
	}

	#divgraph span {
		font-size: 20px;
	}

	#divgraph:hover { /* no es necesario con el window load*/
		width: 80%;
		transition: all 2s ease;
	}
	/*end skills*/
}

/*end responsive styles*/